########################################
# BletchMAME Diagnostics Github Action #
########################################

on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master

name: Diagnostics

jobs:
  diagnostics:
    name: Diagnostics
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install Rust toolchain
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Install MSYS2
      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: false
          release: false
          install: parallel p7zip

      # Caching
      - name: Caching
        uses: Swatinem/rust-cache@v2

      # Build
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --locked --release

      # Run integration testing with actual MAME
      - name: Run integration testing with actual MAME
        shell: msys2 {0}
        run: |
          sh scripts/test_mame_interactions.sh mame0260
          sh scripts/test_mame_interactions.sh mame0280
          

