########################################
# BletchMAME Test Suite Github Action  #
########################################

on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master

name: Test Suite

jobs:
  test:
    name: Test Suite
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        features: ["", "--all-features", "--no-default-features"]
        exclude:
          - os: windows-latest
            features: "--all-features"
    runs-on: ${{ matrix.os }}
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install Rust toolchain
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Install Linux Dependencies
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y libxdo-dev libpango1.0-dev libgtk-3-dev libudev-dev

      # Install Qt
      - name: Install Qt
        if: matrix.features == '--all-features'
        uses: jurplel/install-qt-action@v4          

      # Caching
      - name: Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-test-${{ matrix.features }}-${{ hashFiles('**/Cargo.lock') }}

      # Test Suite
      - name: Test Suite
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: ${{ matrix.features }}
